/* ==========================================
   ANIMATIONS
========================================== */

@keyframes fadeIn{

    from{

        opacity:0;
    }

    to{

        opacity:1;
    }
}

@keyframes slideUp{

    from{

        opacity:0;

        transform:translateY(25px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}

@keyframes scaleUp{

    from{

        opacity:0;

        transform:scale(.95);
    }

    to{

        opacity:1;

        transform:scale(1);
    }
}

.fade-in{

    animation:fadeIn .6s ease;
}

.slide-up{

    animation:slideUp .6s ease;
}

.scale-up{

    animation:scaleUp .5s ease;
}

@keyframes growBar{

    from{

        height:0;

    }
}
.dashboard-card{

    animation:floatCard 5s ease-in-out infinite;

}

@keyframes floatCard{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }
}
/* ==========================================
   SCROLL REVEAL
========================================== */

.reveal{

    opacity:0;

    transform:translateY(60px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.reveal.show{

    opacity:1;

    transform:translateY(0);

}

/* Left */

.reveal-left{

    opacity:0;

    transform:translateX(-70px);

    transition:.8s;

}

.reveal-left.show{

    opacity:1;

    transform:translateX(0);

}

/* Right */

.reveal-right{

    opacity:0;

    transform:translateX(70px);

    transition:.8s;

}

.reveal-right.show{

    opacity:1;

    transform:translateX(0);

}

/* Zoom */

.reveal-zoom{

    opacity:0;

    transform:scale(.9);

    transition:.8s;

}

.reveal-zoom.show{

    opacity:1;

    transform:scale(1);

}