/* ==========================================
   TYPOGRAPHY
========================================== */

body{

    font-family:var(--font-body);

    background:
        radial-gradient(circle at top left,#14B8A620 0%,transparent 35%),
        radial-gradient(circle at bottom right,#8B5CF620 0%,transparent 35%),
        var(--bg-dark);

    color:var(--text-dark);

    min-height:100vh;

    transition:var(--transition);

}

h1,h2,h3,h4,h5,h6{

    font-family:var(--font-heading);

    font-weight:var(--fw-bold);

    line-height:1.2;
}

h1{
    font-size:var(--fs-4xl);
}

h2{
    font-size:var(--fs-3xl);
}

h3{
    font-size:var(--fs-2xl);
}

h4{
    font-size:var(--fs-xl);
}

h5{
    font-size:20px;
}

p{
    color:var(--text-muted-dark);
}

small{
    font-size:var(--fs-sm);
}

strong{
    font-weight:700;
}